.title {
    font-weight: bold;
    font-size: 14px;
}

select {
    border-radius: 99px;
}

input:hover {
    box-shadow: 0 0 15px #1b95e4;
}

input[type="submit"] {
    all: unset;
    padding: 3px 30px;
    background-color: #1b95e4;
    font-weight: bold;
    max-width: 100px;
    border-radius: 99px;
    text-align: center;
    margin-top: 15px;
}

.feedback {
    min-width: 275px;
    max-width: 300px;
    max-height: 210px;
}
.bio {
    min-width: 300px;
    max-width: 300px;
}
.login {
    min-width: 300px;
    max-width: 300px;
}