.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.container.grow {
    flex: 1 0 0;
}
.container.justify-center {
    justify-content: center;
}
.row {
    width: 100%;
    max-width: 1050px;
    display: flex;
    padding: 0 0px;
    gap: 20px;
}
.row.full-width {
    max-width: unset;
}
.row.align-center {
    align-items: center;
}
.row.align-top {
    align-items: flex-start;
}
.row.align-bottom {
    align-items: flex-end;
}
.row.justify-center {
    justify-content: center;
}
.row.justify-right {
    justify-content: flex-end;
}
.row.justify-left {
    justify-content: flex-start;
}
.row.justify-space-between {
    justify-content: space-between;
}
.row.no-padding {
    padding: unset;
}
.row.no-gap {
    gap: unset;
}
.column {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
}
.column.shrink {
    flex: 0 1 auto;
}
.column.align-center {
    align-items: center;
}
.column.align-right {
    align-items: flex-end;
}
.column.align-left {
    align-items: flex-start;
}
.column.justify-center {
    justify-content: center;
}
.column.justify-space-between {
    justify-content: space-between;
}
.column.text-center {
    text-align: center;
}


* {
    font-family: "Helvetica Neue";
}

.page-layout {
    gap: 20px;
}

.content {
    /*background-color: rgba(255, 0, 0, 0.5);*/
    max-width: 195px;
    min-height: 100vh;
    flex: 2 0 0;
}

td {
    padding: 5px 0;
}

a {
    color: #1b95e4;
    font-size: 12px;
    font-weight: bolder;
}

#tweet-post {
    all: unset;
    background-color: #1b95e4;
    border-radius: 50px;
    min-width: 85%;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 0;
    margin-top: 50px;;
}

.icon {
    max-width: 27px;
    margin: 10px 6px;
}

.icon2 {
    max-width: 17px;
    margin: 5px 5px 5px 10px;
}

.content-options {
    margin-left: 7px;
}

.profile {
    /*background-color: rgba(115, 255, 0, 0.5);*/
    max-width: 480px;
    border-left: 1px solid #d6d9da;
    border-right: 1px solid #d6d9da;
}

.return {
    margin: 10px 0 10px 10px;
    max-width: 4%;
}
.profile-name {
    font-weight: bolder;
    line-height: 1.25;
}
#tweets {
    font-size: 65%;
}

#header-img {
    width: 480px;
    height: 170px;
    object-fit: none;
}
.engage-wrapper {
    position: relative;
}

.profile-engage {
    padding: 15px;
    position: absolute;
    margin-top: -80px;
}

#profile-photo {
    max-width: 110px;
    border-radius: 999px;
    border: 3px solid white;
}

.follow {
    background-color: #1b95e4;
    color: white;
    border-radius: 40px;
    border: none;
    padding: 5px 15px;
    font-weight: bolder;
    font-size: 12px;
}

.profile-about {
    margin-top: 55px;
    margin-left: 10px;
}

#about-bio {
    padding: 12px 0;
    font-size: 16px;
    line-height: 1;
}

#username {
    font-size: 65%;
}

.address {
    font-size: 65%;
    margin-left: 10px;
    margin-bottom: 10px;
}

.follow-status {
    font-size: 65%;
    margin-left: 10px;
    margin-bottom: 10px;
}

span {
    font-weight: bold;
}

.profile-feed {
    gap: 62px;
    font-size: 60%;
    border-bottom: 1px solid #d6d9da;
}

.feed {
    border: none;
    background-color: rgba(0,0,0,0);
    margin-bottom: 10px;
    position: relative;
}

/*#selected {*/
/*    position: absolute;*/
/*    border: 1px solid blue;*/
/*    background-color: blue;*/
/*}*/

.live-feed-wrapper {
    padding: 5px 5px 5px 5px;
    position: relative;
    font-size: 10px;
}

#tweet-profile {
    position: absolute;
    border-radius: 999px;
    max-width: 40px;
}

.tweet-head {
    gap: 5px;
    margin-left: 20px;
    margin-bottom: 0;
}

.tweet {
    margin-left: 52px;
    font-weight: bold;
}

.tweet-option {
    margin: 8px 0;
    max-width: 12px;
}
.tweet-options {
    font-weight: bolder;
    line-height: 1.25;
}

.tweet-post{
    border-bottom: 1px solid #d6d9da;
}

.media {
    /*background-color: rgba(0, 255, 225, 0.5);*/
    max-width: 280px;
}

.search-bar {
    border-radius: 50px;
    background-color: #d6d9da;
    gap: 10px;
    padding: 3px 0;
}

input {
    all: unset;
}

::placeholder {
    color: #626262;
    font-size: 10px;
    font-weight: bold;
}

.preview-wrapper {
    margin: 15px 0;
    border-radius: 10px;
    flex-wrap: wrap;
    border: 2px;
    gap: 1px;
    overflow: hidden;
}

.image-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 85px;
    overflow: hidden;
}
.image-preview img {
    flex-shrink: 0;
    min-width: 200%;
    min-height: auto;
}

.suggested-accounts {
    padding: 8px 12px;
    border-radius: 10px;
    border: 2px;
    background-color: #eceeee;
    position: relative;
}

.suggested-profile {
    margin: 10px 0;
}

#anon-acct-icon {
    border-radius: 999px;
    max-width: 40px;
}

.suggested-stack {
    font-size: 12px;
    margin-left: -10px;
}

.accounts-show-more {
    margin-top: 50px;
}