/*FONT && TEXT SELECTORS*/
:root {
    --black: rgba(0, 0, 0, 0.45);
    --blue: #2e98e3;
    --border-color: rgba(255,255,255,0.4)
}


/*JS SELECTORS*/
#map {
    position: absolute;
    top: 0;
    left:0;
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
}

#currCity-label {
    color: var(--blue);
    text-shadow: 0 2px 5px black;
    text-align: left;
    padding-left: 15px;
}

#currCity {
    padding: 10px 15px;
    color: white;
    font-weight: 300;
    min-height: 5%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}


/*Body Selectors*/
html {
    overflow: hidden;
    position: relative;
}

* {
    font-family: "Helvetica Neue", sans-serif;
}

h1 {
    font-size: 40px;
    text-shadow: 0 2px 5px black;
    border-bottom: 1px solid var(--blue);
    border-radius: 0 0 0 30px;
    padding-bottom: 15px;
}


.user-action {
    pointer-events: auto;
}

.container {
    position: relative;
}

#content {
    justify-self: start;
    color: white;
    width: 400px;
    min-height: 94vh;
    backdrop-filter: blur(10px);
    border-radius: 0 30px 30px 0;
    border-width: 0;
    border-right:1px solid var(--border-color);
    background-color: rgba(0, 0, 0, 0.15);
    margin: 2vh 0 3vh 0;
    text-align: center;
    z-index: 1;
    box-shadow: black 3px 3px 10px;
    position: absolute;
    top: 0;
    left: 0;
}

#weather {
    padding: 20px 15px 0 0;
    overflow-y: auto;
    overflow-x: visible;
    border-radius: 30px;
}


#searchWeather {
    all: unset;
    margin: 15px 15px 15px 5px;
    width: 95%;
    text-align: center;
    padding: 0;
    font-weight: bold;
    background-color: lightgray;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    min-height: 35px;
}

#searchWeather:hover {
    border-color: var(--blue);
    box-shadow: 1px 1px 10px var(--blue);
}

#body-wrap {
    padding: 0;
}



/*FORECAST WEATHER*/
.weatherCard {
    min-height: 20%;
    font-size: 16px;
    border-radius: 0 30px 30px 0;
    border-width: 0;
    border-right:1px solid var(--blue);
    background-size: cover;
    transition: all ease-in 0.3s;
    margin: 20px 0;
    width: 100%;
    position: relative;
}

.weatherCard:hover {
    min-height: 20%;
    margin: 20px 0;
    transition: all ease 0.3s;
    transform: translateX(1%) scale(1.05);
}

#render-data {
    min-height: 100%;
    max-width: 100%;
    background: rgba(0, 0, 0, 0.50);
    border-radius: 0 30px 30px 0;
    padding: 10px;
    gap: 0;
}

.date {
    font-size: 24px;
    color: var(--blue);
    position: absolute;
    line-height: 0;
    top: -10px;
    left: 15px;
}

.info {
    color: white;
    /*text-shadow: 1 1px black;*/
    min-width: 67%;
    margin-left: 15px;
}

.headWeather {
    min-width: 15%;
    padding-top: 5px;
}

.temp {
    line-height: 1;
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 4px lightgray;
}

.bg-image {
    position: absolute;
}

.bold {
    font-size: smaller;
    font-weight: bold;
}

.light {
    font-weight: 300;
}

/*CURRENT WEATHER*/
#currCast {
    justify-self: center;
    color: white;
    width: 67vw;
    backdrop-filter: blur(10px);
    border-radius:30px;
    border-width: 0;
    border-right:1px solid var(--border-color);
    border-left:1px solid var(--border-color);
    background-color: rgba(0, 0, 0, 0.15);
    text-align: center;
    z-index: 1;
    box-shadow: black 3px 3px 10px;
    position: absolute;
    margin: 2vh 3vh 0 0;
    top: 0;
    left: 410px;
}

.currCard {
    min-height: 12vh;
    font-size: 16px;
    border-radius: 30px;
    border-width: 0;
    border-right:1px solid var(--blue);
    border-left:1px solid var(--blue);
    background-size: cover;
    transition: all ease-in 0.3s;
    margin: 30px 0 20px 0;
    width: 100%;
    position: relative;
}

#currCast span.date {
    position: center;
    font-size: 26px;
}

#currCast span.temp {
    align-self: end;
    font-size: 32px;
}

#curr-render-data {
    min-height: 100%;
    max-width: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 10px 20px;
    gap: 0;
}

